:root {
  --slide-width: 160px;
  --slide-speed: 30s;
}

.ct-slider {
  overflow: hidden;
  position: relative;
}
.ct-slider::before,
.ct-slider::after {
  content: '';

  height: 100%;
  width: 200px;

  position: absolute;
  z-index: 2;

  background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
}

.ct-slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.ct-slider::before {
  left: 0;
  top: 0;
}

.ct-slider .ct-slide-track {
  display: flex;

  width: calc(var(--slide-width) * 16);
}

.ct-slider .ct-slide-track .ct-slide {
  display: flex;
  align-items: center;

  width: var(--slide-width);

  animation: scroll var(--slide-speed) linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(var(--slide-width) * -8));
  }
}
