@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply scroll-smooth;
}

.ct-container {
  @apply max-w-screen-xl w-full mx-auto;
}

.ct-button {
  @apply py-1 cursor-pointer;
}

.ct-top-site-gradient {
  @apply bg-gradient-to-br from-[#F1F3FC] to-[#F7F7FB];
}

.ct-teal-gardient {
  background: radial-gradient(115.89% 115.89% at 49.61% 115.89%, #20bfb6 0%, #09fff1 100%);
}

.ct-teal-gardient-2 {
  background: radial-gradient(994.87% 73.36% at 73.36% 50.16%, #20bfb6 0%, #00f9eb 100%);
}

.ct-section-title-sub {
  @apply text-[32px] font-bold leading-tight mt-4;
}

.ct-section-bg-gradient {
  @apply bg-gradient-to-tl from-gray-100 to-transparent;
}

.ct-absolute-translate-center {
  @apply absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%];
}

.ct-animation-slide-in-from-right {
  animation: slideInFromRight 0.7s ease-out;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
